<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>

<body class="grey-bg">
    <%= console.log(chats) %>
    <%- include('nav.ejs') %>

    <div class="white-bg">
        <% for (let i=0; i<chats.length; i++) { %>
            <div class="list-box">
                <h4>
                    <a href="/chat/detail/<%=chats[i]._id%>">
                        채팅방 <%=i%>
                    </a>
                </h4>
                <p>
                    채팅방 설명~
                </p>
            </div>
            <% } %>
    </div>
</body>

</html>