<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    <%- include('nav.ejs') %>

    <form class="form-box" action="/modify?_method=put" method="post">
        <h4>수정하기</h4>
        <input name="id" value="<%= data._id%>" style="display: none">
        <input name="title" value="<%= data.title %>">
        <input name="content" value="<%= data.content%>">
        <button type="submit">수정하기</button>
    </form> 

  </body>
</html>